<h1 >{{ department_name }}</h1>
<div class="department-faq-grid" style="display:grid; gap:3vmin; grid-template-columns: repeat(3, 1fr);">
  {% for obj in object_list %}  
  <div class="card text-center mb-3" style="width: 25rem;">
    <div class="card-body">
      <h5 class="card-title">{{ obj.question }}</h5>
      <p class="card-text">{{obj.answer}}</p>
      {% if obj.pk %}
      <div class="btn-container" style="justify-content: center;">
        <div class="equal-width-btns">
          <button class="btn" id="blue-btn" onclick="window.location.href='{% url 'faq_update' obj.pk %}'">
              <div class="icon-shift">
                <i class="bi bi-check-lg"></i>
                <span>Update</span>
              </div>
          </button>
        </div>
          <form action="{% url 'faq_delete' obj.pk %}" method="post">
            {% csrf_token %}
            <div class="equal-width-btns">
                <button class="btn" id="red-btn" type="submit">
                  <div class="icon-shift">
                    <i class="bi bi-x-lg"></i>
                    <span>Delete</span>
                  </div>
                </button>
            </div>
          </form>
      </div>
    {% endif %}
    </div>
  </div>
  {%endfor%}
</div>