{% extends 'base.html' %}
{% block body %}
<html>
  {% load user_role_filters %}
  <head>
    <title> Change Password </title>
  </head>
  <body>
    <div class="card form-card ">
      <h1 class='list'>Change Password</h1>
      {% if error_str|length > 0 %}
          {{ error_str }}
      {% else %}
        <form method="post" style="display: inline;">
          {% csrf_token %}
          <p style="padding-top:2vmin; padding-bottom: 1vmin;">
            Email: {{user.email}}<br><br>
            Name: {{user.first_name}} {{user.last_name}}<br><br>
            Account Type: {{user.role|user_role_string}}<br>
          </p>
          <hr>
          {% include 'partials/bootstrap_form.html' with form=form %}
          <div class="mx-auto" style="text-align:center; padding-bottom:1vmin;">
            <input id="blue-btn" class="btn" type="submit" name="change" value="Change">
          </div>
        </form>
      {% endif %}
      <div class="btn-container" style="justify-content:center;">
        {% if request.user.role == "DI" %}
          <form method="post" style="display: inline;">
            {% csrf_token %}
            <input id="red-btn" class="btn" type="submit" name="cancel" value="Cancel">
          </form>
        {% else %}
          <a href="{% url 'home' %}" id="red-btn" class="btn" type="submit" name="cancel" value="Cancel">Cancel</a>
        {% endif %}
      </div>
    </div>
  </body>
</html>
{% endblock %}
